{% block footer %}
<footer class="footer" style="position: fixed; bottom: 0; width: 100%; z-index: 2;" >
<div class="card text-center card text-white bg-dark mb-3">
  <div class="card-header">
    Hackathon Juin 2020
  </div>
  <div class="card-footer text-muted">
    Charles Chevreuil, Sarah Lambert, Kévin Chalumeau, Moshtagh Mohammadi
  </div>
</div>
</footer>
{% endblock %}
