{% extends 'base.html.twig' %}
{% block body %}

<body>
<div classe="title">
	<h1>Bienvenue sur Boobz.com</h1>
</div>
	<div id="booking" class="section">
		<div class="section-center">
			<div class="container">
				<div class="row">
					<div class="booking-form">
						<form>
							<div class="col-md-8">
								<div class="form-group">
									<input class="form-control" type="text" placeholder="Entrez votre nom">
									<span class="form-label">Nom de l'opération</span>
								</div>
							</div>
							<div class="col-md-8">
								<div class="form-group">
									<input class="form-control" type="text" placeholder="Entrez votre tarif">
									<span class="form-label">Prix recherché</span>
								</div>
							</div>
							<div class="col-md-8">
								<div class="form-group">
									<input class="form-control" type="text" placeholder="durée traitement">
									<span class="form-label">Durée du traitement</span>
								</div>
							</div>
							<div class="col-md-8">
								<div class="form-group">
									<input class="form-control" type="text" placeholder="durée hospitalisation">
									<span class="form-label">Durée hospitalisation</span>
								</div>
							</div>
							
							
							<div class="col-md-4">
								<div class="form-btn">
									<button class="submit-btn">Recherche</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

{% endblock %}